.footer{
  background-color: #012245;
  min-height: 400px;
  color:whitesmoke ;
  font-weight: 600;
}
.color{
  color: #ff4f1e;
  
}
.justify{
  text-align: justify;

}
.hover:hover{
text-decoration: underline;

}
